# For more information on syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global (default) code owners for everything in the repo
* @enajeeb @yaseenranta
