.btn-primary-auth{
    @apply w-full text-white bg-theme-3 border-0 py-2 px-8 focus:outline-none hover:bg-theme-1 rounded text-lg;
  }
  
  .btn-primary-auth.disable{
    @apply bg-gray-500
  }
  
  .modal-business-list{
    @apply rounded py-4 px-2 font-medium flex justify-between text-base text-gray-700 border border-solid
  }
  
  .table-action-btn{
   @apply flex items-center block p-2 transition duration-300 ease-in-out bg-white hover:bg-gray-200 rounded-md   
  }
  

  
  .yr-form-tabs{
    @apply lg:flex sm:flex-auto items-center p-2 rounded-md font-medium text-gray-700 text-sm
  }
  
  .yr-form-tabs.active{
    @apply text-black rounded bg-theme-2 capitalize
  }
  
  .tabulator-row-odd,.tabulator-row-even{
    background: #fff !important;
  }
  
  .yr-label{
    @apply text-base text-gray-700 font-medium
  }
  
  .yr-form-control,
  .vue-tel-input{
    @apply border-2 shadow-none outline-none; 
  
    &:focus{
      @apply outline-none ring-0 shadow-none border-gray-400 
    }
    
    &:disabled,
    &[readonly] {
      @apply bg-gray-100 cursor-not-allowed;
    }
    
  }
  
  .vue-tel-input {
    @apply border-gray-300 rounded-md appearance-none placeholder-gray-500;  
  }
  
  .tail-select:focus .select-label {
    @apply border-2 outline-none ring-0 shadow-none border-gray-400 
       
  }
  
  .yr-checkbox,.yr-radio{
    @apply flex justify-start items-start;
  
    .div-checkbox, .div-radio {
      @apply bg-white border-2 rounded w-6 h-6 flex flex-shrink-0 justify-center items-center mr-2 focus-within:border-blue-500;
    }
  
    .select-all{
      @apply select-none leading-loose uppercase text-gray-700;
    }
  
    svg {
      @apply fill-current hidden w-4 h-4 text-blue-500 pointer-events-none
    }
  
    input:checked + svg {
      display: block;
    }
  
  }
  
  .yr-radio .div-radio {
    @apply rounded-full
  }
  
  .yr-checkbox.checked,.yr-radio.checked{
    .div-checkbox,.div-radio {
      @apply  bg-blue-500 border-blue-500;
    }
  
    svg {
      @apply text-white;
    }
  }
  
  .yr-form-control.error,
  .form-select.error,
  .vue-tel-input.error,
  .error ~ .tail-select .select-label{
    @apply border-theme-6
  }

  .error-border-2 ~ .tail-select .select-label{
    @apply border-theme-6 border-2;
  }
  
  .invoice-form .form-control{
    @apply border-2 shadow-none outline-none; 
  
    &:focus{
      @apply outline-none ring-0 shadow-none border-gray-400 
    }
  
  }
  
  .invoice-add-item{
    @apply border-none rounded-none cursor-pointer block bg-white text-theme-1 font-medium text-base;
    &:hover,
    &:focus {
      @apply bg-theme-1 text-white
    }
  }
  
  .item td .yr-checkbox{
    @apply flex justify-center items-center;
    
    .div-checkbox {
      @apply mr-0;
    }
    
  }
  
  .invoice-customer-box,.invoice-tax-box{
    @apply px-5 py-10 text-center cursor-pointer relative;
  }
  
  .invoice-customer-list,.invoice-tax-list{
    @apply absolute -left-1 top-0 w-full border;
  
    .selected div{
      @apply text-white
    }
  }
  
  .badge-success{
    @apply rounded text-xs px-2 py-1 border font-medium
  }
  
  .invoice-tax-list{
    @apply rounded shadow-sm left-0;
  
    .tax-options{
      @apply max-h-64 overflow-scroll bg-white;
  
      .item {
        @apply p-2 font-medium relative text-left cursor-pointer;
  
        &:hover{
          @apply bg-gray-200;
        }
        
      }
  
      .item.disabled,
      .item.disabled:hover{
        cursor: default !important;
        background: transparent !important;
        color: #ccc !important;
      }
    }
  }
  
  .invoice-tr {
    @apply py-5 border-gray-400 border-b;
  
    .status {
      @apply px-2 py-1 rounded font-medium
    }
      
  }
  
  .view-invoice-db{
    @apply border border-r border-dashed w-px h-12 mx-4 xl:mx-5
  }
  

  .add-btn{
    @apply border inline-flex items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-opacity-20 bg-theme-1 border-theme-1 text-white mr-2 shadow-md
  }
  
  .export-btn {
    @apply border inline-flex items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-opacity-20 bg-white text-slate-500 shadow-sm
  }
  
  .setting-menu {
  
    h3{
      @apply text-xs font-medium uppercase text-gray-400 my-2 ml-2;
    }
  
    a {
      @apply flex text-gray-600 pl-2 py-2 text-sm font-medium;
    }
  
    a.active {
      @apply bg-theme-1 text-white rounded;
    }
  
  }
  .select-control{
    position: relative;
  }
  .select-control .select-label{
    border-width:  2px !important;
  }
  
  .select-control.error .select-label{
    @apply border-theme-6
  }
  
  
  .text-primary{
    @apply text-theme-3
  }
  
  .text-success{
    @apply text-theme-9
  }
  
  .text-error{
    @apply text-theme-6
  }
  
  .btn-outline-danger{
    @apply hover:text-white
  }
  
  
  .default-business-star{
    fill: rgba(247, 139, 0, var(--tw-bg-opacity));
  }
  
  @media print
  {    
      .no-print, .no-print *,
      .dropdown-menu
      {
          display: none !important;
      }
  }
