@use "../tw-starter/dist/scss/mixins/media" as *;
@layer components {
    .content {
        @apply min-w-0 min-h-screen bg-theme-2 flex-1 pb-10 dark:bg-dark-7;
        padding-top:70px;
        @include media-breakpoint-down('md') {
            @apply px-4 max-w-full;
        }
        &:before {
            content: "";
            @apply w-full h-px block;
        }
    }
}
