@use "../tw-starter/dist/scss/mixins/media" as *;

html {
    // @apply bg-theme-2 dark:bg-dark-7;

    body {
        -webkit-font-smoothing: antialiased;
        font-family: "Inter", sans-serif;
        font-size: 16px !important;
        @apply overflow-x-hidden font-normal text-sm text-gray-700 dark:text-theme-2;

        @include media-breakpoint-down('sm') {
            //@apply px-3;
        }
    }
}
