@use "../tw-starter/dist/scss/mixins/media" as *;
@layer components {
  .side-nav {
    width: 260px;
    font-size:0.95rem;
    letter-spacing:0.2px;
    font-family: "Inter", sans-serif;
    @apply sticky h-screen no-print top-0 overflow-x-hidden dark:bg-dark-1 dark:bg-dark-7 flex flex-col justify-between transition-all ease-in delay-100;
    // @include media-breakpoint-down(xl) {
    //   width: 5rem;
    // }
    @include media-breakpoint-down(md) {
      @apply hidden;
    }
    
    &.side-nav--simple {
      width: 5rem;
      .side-menu {
        @apply px-0 justify-center;
        .side-menu__title {
          @apply hidden;
          .side-menu__sub-icon {
            @apply hidden;
          }
        }
        &:not(.side-menu--active) .side-menu__icon:before {
          @apply hidden;
        }
      }
      .side-nav-inner{
        padding:5rem 0.4rem 0rem 0.4rem
      }
      .side-menu__icon{
        svg{
          @apply w-6 h-6
        }
      }
      .side-collapse{
        .text{
          @apply hidden;

        }
      }
    }
    .side-nav-inner{
      padding:5rem 1.4rem 0rem 1.4rem;
    }
    .side-collapse{
      @apply flex justify-between px-7 py-3 border-t dark:text-white cursor-pointer;
      .text{
       @apply lg:block md:block sm:hidden
      }
    }
    .side-nav__devider {
      @apply w-full h-px bg-theme-3 z-10 relative;
    }
    .side-menu {
      @apply flex items-center py-3 relative text-dark-7 dark:text-white pl-2 rounded;
      .side-menu__icon{
        svg{
          @apply w-4 h-4
        }
      }
      .side-menu__title {
        @apply w-full ml-3 flex items-center font-medium;
        .side-menu__sub-icon {
          @apply transition ease-in duration-100 ml-auto me-2;
          @include media-breakpoint-down('xl') {
            @apply hidden;
          }
        }
        // @include media-breakpoint-down('xl') {
        //   @apply hidden;
        // }
      }
    }
    ul {
      @for $i from 1 through 50 {
        > li:nth-child(#{$i}) {
          &.side-nav__devider {
            //@apply opacity-0;
            animation: 0.4s intro-devider-animation ease-in-out 0.33333s;
            animation-fill-mode: forwards;
            animation-delay: #{$i * 0.1}s;
          }
          & > a {
            &:not(.side-menu--active) {
              //@apply opacity-0;
              transform: translateX(50px);
              animation: 0.4s intro-menu-animation ease-in-out 0.33333s;
              animation-fill-mode: forwards;
              animation-delay: #{$i * 0.1}s;
            }
            &.side-menu--active {
              animation: 0.4s intro-active-menu-animation ease-in-out 0.33333s;
              animation-fill-mode: forwards;
            }
          }
        }
      }
      ul {
        @apply ml-2 pt-1;
        @for $i from 1 through 50 {
          li:nth-child(#{$i}) {
            & > a {
              //@apply opacity-0 ;
              animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
              animation-fill-mode: forwards;
              animation-delay: #{$i * 0.1}s;
            }
          }
        }

        .side-menu{
          
        }
        .side-menu__title{
          @apply ml-1;
        }
        
        .side-menu__icon:before {
          @apply hidden;
        }
        li a {
          &:not(.side-menu--active) {
            @apply text-dark-7 ;
          }
          &.side-menu--active {
            @apply dark:bg-dark-3 bg-theme-2;
          }
        }
        ul {
          @apply hidden bg-dark-7 bg-theme-2 ms-2;
        }
      }
      & > li {
        & > .side-menu {
          @apply py-3;
          &.side-menu--active {
            @apply bg-theme-2 dark:bg-dark-3 overflow-x-hidden dark:text-theme-2;
            
            .side-menu__icon {
              //@apply text-theme-3;
              &:before {
                content: "";
                z-index: -1;
                @apply absolute top-0 right-0 -mr-5 w-12 h-full text-dark-7;
              }
            }
            .side-menu__title {
              //@apply font-medium;
            }
          }
          
          
          &:not(.side-menu--active) .side-menu__icon:before {
            content: "";
            z-index: -1;
            width: 100%;
            @apply absolute top-0 left-0 h-full transition ease-in duration-100;
            @include media-breakpoint-down('xl') {
              @apply hidden;
            }
          }
          &:hover:not(.side-menu--active):not(.side-menu--open)
            .side-menu__icon:before {
            @apply bg-theme-2 dark:bg-dark-3 text-dark-7 dark:text-theme-2 ;
          }
        }
      }
    }

    .dark {
      .side-nav__devider {
        @apply bg-dark-3;
      }
      .side-menu > ul {
        ul {
          //@apply bg-dark-4;

          li a {
            &:not(.side-menu--active) {
              @apply text-gray-600;
            }
          }
          ul {
            @apply bg-dark-7;
          }
        }
        & > li {
          & > .side-menu {
            &.side-menu--active {
              @apply bg-dark-1;
              
              .side-menu__icon {
                @apply text-white;
                &:before {
                  @apply bg-dark-1;
                }
              }
              .side-menu__title {
                @apply text-white;
              }
            }
            .side-menu__icon {
              @apply text-gray-500;
            }
            .side-menu__title {
              @apply text-gray-500;
            }
            &:hover:not(.side-menu--active):not(.side-menu--open)
              .side-menu__icon:before {
              @apply bg-dark-4;
            }
          }
        }
        
      }
    }


  }

  .dark .side-nav{
    .side-menu:hover{
      @apply bg-dark-3
    }
  }

  @keyframes intro-devider-animation {
    100% {
      @apply opacity-100;
    }
  }

  @keyframes intro-menu-animation {
    100% {
      @apply opacity-100;
      transform: translateX(0px);
    }
  }

  @keyframes intro-submenu-animation {
    100% {
      @apply opacity-100;
      transform: translateX(0px);
    }
  }

  @keyframes intro-active-menu-animation {
    100% {
      @apply z-10;
    }
  }
}
