/*
 |--------------------------------------------------------------------------
 | Fonts
 |--------------------------------------------------------------------------
 |
 | Import all fonts used in the template, the font configuration can be
 | seen in "tailwind.config.js".
 |
 | Please check this link for more details:
 | https://tailwindcss.com/docs/theme
 |
 */
@use "./fonts/inter";

@use "./tw-starter/dist/scss/starter.scss";

// @use "../css/vendors/toastify.css";
@use "../css/vendors/tabulator.css";
@use "../css/vendors/tippy.css";
/*
 |--------------------------------------------------------------------------
 | Components
 |--------------------------------------------------------------------------
 |
 | Import CSS/SCSS components.
 |
 */

@use "./components/global";
@use "./components/top-bar";
@use "./components/login";
@use "./components/table-report";
@use "./components/report-timeline";
@use "./components/report-chart";
@use "./components/search";
@use "./components/notification";
@use "./components/report-box";
@use "./components/report-box-2";
@use "./components/content";
@use "./components/top-nav";
@use "./components/side-nav";
@use "./components/breadcrumb";
@use "./components/top-bar-boxed";
@use "./components/mobile-menu";
@use "./components/boxed-tabs";
@use "./components/chat-dropdown";
@use "./components/wizard";
@use "./components/pricing-tabs";
@use "./components/error-page";
@use "./components/search-result";
@use "./components/notification-content";
@use "./components/report-maps";
@use "./components/pos-dropdown";
@use "./components/pos";
@use "./components/post";
@use "./components/litepicker";
// @use "./components/tippy";
@use "./components/toastify";
@use "./components/toastify-content";
// @use "./components/tabulator";

@use "./components/ads-box";
@use "./components/full-calendar";
@use "./components/pristine";
@use "./components/tom-selects";
@use "./components/tom-select";

.colors-test {
  color: var(--color-blue);
  color: #F1F5F8;
  color: var(--color-blue);
  color: #274AB7;
  color: #DEE7EF;
  color: #D32929;
  color: #365A74;
  color: #D2DFEA;
  color: #91C714;
  color: #e1f7b0;
  color: #3160D8;
  color: #F78B00;
  color: #FBC500;
  color: #7F9EB9;
  color: #E6F3FF;
  color: #8DA9BE;
  color: #607F96;
  color: #FFEFD9;
  color: #D8F8BC;
  color: #2449AF;
  color: #395EC1;
  color: #C6D4FD;
  color: #E8EEFF;
  color: #1A389F;
  color: #163296;
  color: #C7D2FF;
  color: #15329A;
  color: #e1f7b0;
  color: #BBC8FD;
  color: #284EB2;
  color: #98AFF5;
}

.dark-test {
  color1: #293145;
  color2: #232a3b;
  color3: #313a55;
  color4: #1e2533;
  color5: #3f4865;
  color6: #2b3348;
  color7: #181f29;
}

* {
  @apply dark:border-dark-2;
}

.dash-logo {
  width: 170px
}

.dash-title {
  @apply text-gray-800 dark:text-theme-2
}

.filters {
  .form-control {
    //@apply border-2;
    //height: 39px;
  }
}

.modal-business-list {
  @apply rounded py-4 px-2 font-medium flex justify-between text-base text-gray-700 border border-solid
}

.table-action-btn {
  @apply flex items-center block p-2 transition duration-300 ease-in-out bg-white hover:bg-gray-200 rounded-md
}

.btn-info {
  @apply bg-primary-9 text-white;
}

.yr-form-tabs {
  @apply lg:flex sm:flex-auto items-center p-2 rounded-md font-medium text-gray-700 text-sm
}

.yr-form-tabs.active {
  @apply text-black rounded bg-theme-2 capitalize
}

.tabulator-row-odd, .tabulator-row-even {
  background: #fff !important;
}

.yr-label {
  @apply text-base text-gray-700 font-medium
}

.yr-form-control {
 // @apply outline-none border-gray-300;

  &:focus {
   // @apply outline-none ring-0 shadow-none border-gray-400
  }

  &:disabled,
  &[readonly] {
    @apply bg-gray-100 cursor-not-allowed;
  }

}

.vue-tel-input {
  @apply border-gray-300 border-2 rounded-md #{!important};
  @apply appearance-none placeholder-gray-500 shadow-none outline-none;
  @apply dark:bg-dark-3 dark:border-transparent #{!important};
}

.dark {
  .vue-tel-input {
    @apply bg-dark-2 border-transparent;
  }
}

.tail-select:focus .select-label {
  @apply border-2 outline-none ring-0 shadow-none border-gray-400
}

.yr-checkbox, .yr-radio {
  @apply flex justify-start items-start gap-1;

  .div-checkbox,
  .div-radio {
    @apply border-2 rounded w-4 h-4 flex flex-shrink-0 justify-center items-center focus-within:border-blue-500 bg-white;
    margin-top:2px;
  }

  .select-all {
    @apply select-none leading-loose uppercase text-gray-700;
  }

  svg {
    @apply fill-current hidden w-3 h-3 text-blue-500 pointer-events-none
  }

  input:checked+svg {
    display: block;
  }

}

.yr-radio .div-radio {
  @apply rounded-full
}

.yr-checkbox.checked, .yr-radio.checked {

  .div-checkbox,
  .div-radio {
    @apply bg-blue-500 border-blue-500;
  }

  svg {
    @apply text-white;
  }
}

.yr-form-control.error,
.form-select.error,
.vue-tel-input.error,
.error~.tail-select .select-label {
  @apply border-theme-6
}


.error-border-2~.tail-select .select-label {
  @apply border-theme-6 border-2;
}

// invoice

.invoice-form .form-control {
  @apply outline-none border-gray-300 dark:border-transparent;

  &:focus {
    @apply outline-none ring-0 shadow-none border-gray-400
  }

}

.invoice-add-item {
  @apply btn btn-primary cursor-pointer mx-auto block  font-medium text-base dark:bg-dark-3;

  &:hover,
  &:focus {
    @apply bg-theme-1 text-white
  }
}

.item td .yr-checkbox {
  @apply flex justify-center items-center;

  .div-checkbox {
    @apply mr-0;
  }

}

.invoice-customer-box,
.invoice-tax-box {
  @apply px-5 py-10 text-center cursor-pointer relative;
}

.invoice-customer-list,
.invoice-tax-list {
  @apply w-full border;

  .selected div {
    @apply text-white
  }
}

.badge-success {
  @apply rounded text-xs btn-outline-success px-2 py-1 border font-medium
}

.invoice-tax-list {
  @apply rounded shadow-sm left-0;

  .tax-options {
    @apply max-h-64 overflow-scroll bg-white;

    .item {
      @apply p-2 font-medium relative text-left cursor-pointer;

      &:hover {
        @apply bg-gray-200;
      }

    }

    .item.disabled,
    .item.disabled:hover {
      cursor: default !important;
      background: transparent !important;
      color: #ccc !important;
    }
  }
}

.invoice-tr {
  @apply py-5 border-gray-400 border-b;

  .status {
    @apply px-2 py-1 rounded font-medium
  }


}

.view-invoice-db {
  @apply border border-r border-dashed w-px h-12 mx-4 xl:mx-5
}

//invoice


//btn

.add-btn {
  @apply btn btn-primary me-2 border dark:bg-dark-1 dark:border
}

.export-btn {
  @apply btn btn-secondary;
}

.setting-menu {

  h3 {
    @apply text-xs font-medium uppercase text-gray-400 my-2 ml-2;
  }

  a {
    @apply flex text-gray-600 pl-2 py-2 text-sm font-medium;
  }

  a.active {
    @apply bg-theme-1 text-white rounded;
  }

}

.select-control {
  position: relative;
}

.select-control .select-label {
  border-width: 2px !important;
}

.select-control.error .select-label {
  @apply border-theme-6
}


.text-primary {
  @apply text-theme-3
}

.text-success {
  @apply text-theme-9
}

.text-error {
  @apply text-theme-6
}

.btn-outline-danger {
  @apply hover:text-white
}


.default-business-star {
  fill: rgba(247, 139, 0, var(--tw-bg-opacity));
}

@media print {

  .no-print,
  .no-print *,
  .dropdown-menu {
    display: none !important;
  }
}

.lucide {
  @apply inline-block;
}

.tabulator {
  overflow: visible;
}

.tabulator .tabulator-footer .tabulator-paginator {
  @apply mb-4;
}

.tabulator .tabulator-tableholder {
  overflow: visible;
}

table {
  //box-shadow: 0px 3px 20px #0000000b;
  @apply table bg-white border-transparent rounded-md relative dark:bg-dark-2 dark:text-theme-2;

  thead {
    @apply border-b dark:border-dark-3
  }
}

.truncate {
  @apply dark:text-white text-[17px]
}

.content-heading{
  @apply dark:text-white text-[20px] font-bold
}

.dialog-scrolable {
  .fixed.inset-0.opacity-100.mt-16 {
    overflow-y: scroll;
    margin-top: 0;
    padding-top: 15px;
  }
}

.vue-tel-input{
  @apply p-0 focus:ring-0 focus:shadow-none;
  border-width:1px !important;
  .vti__input{
    @apply form-control dark:bg-dark-3 focus:ring-0 ;
  }
  .vti__dropdown-list{
    @apply text-dark-2 dark:text-white dark:bg-dark-2;
  }
}

  .table-invoice{
    @apply w-full text-gray-700;
  }

  .table-invoice th, .table-invoice td{
    border-color:#e7e5e5;
  }
  
  .table-invoice th{
    @apply bg-gray-200 dark:bg-dark-3 px-2 border-b border-r dark:border-dark-3;
    &:last-child{
      @apply border-r-0
    }
  }
  .table-invoice tr{
    &:last-child{
      td{
        border:0;
        text-align: left
      }
    } 
    td{
      @apply px-4 py-2 border-r border-b dark:border-dark-3;
    
      &:last-child{
        @apply border-r-0
      }
    }
  }

  .table-invoice th.action-col{
    @apply border-l-0;
  }

  .table-invoice .form-control{
    @apply  dark:border-dark-3
  }


  .heading-color{
    color:#000000;
  }

  .main-heading{
    @apply text-2xl font-bold dark:text-white;
    color:#000000;
  }
  .sub-heading{
    @apply text-xl font-bold dark:text-white;
    color:#000000;
    letter-spacing: 0.5px;
  }